.no-group
  background-color: #ababab
.no-group-warmup
  background-color: #b4d553
.A-group,
.H-group,
.O-group,
.V-group
  background-color: #4caf50
.B-group,
.I-group,
.P-group,
.W-group
  background-color: #ff9800
.C-group,
.J-group,
.Q-group,
.X-group
  background-color: #2196f3
.D-group,
.K-group,
.R-group,
.Y-group
  background-color: #673ab7
.E-group,
.L-group,
.S-group,
.Z-group
  background-color: #ff5722
.F-group,
.M-group,
.T-group
  background-color: #e91e63
.G-group,
.N-group,
.U-group
  background-color: #3f51b5