.gc-profile-edit
  .gc-account-type
    display: flex
    width: 92%
    margin: 4%
    padding: 15px
    background: #fafafa
    border: 1px solid #eaeaea
    border-radius: 5px

    .gc-type-info
      display: flex
      margin-left: 25px
      flex-direction: column
      line-height: 2

      .gc-type-label
        font-size: 11px

      .gc-type-name
        color: #46a4e2

  .gc-header
    .row
      padding: 0

      .gc-title-avatar
        width: 80px
        height: 80px
        border-radius: 80px
        margin: 0 15px
        background-size: 70%

        img
          width: 80px
          height: 80px
          border-radius: 80px

      .gc-avatar-label
        font-size: 11px
        color: #bbb
        line-height: 1.5
        display: flex
        justify-content: center
        align-content: center
        flex-direction: column


  .gc-list-wrapper
    .list
      padding: 0
      color: #5f5f5f

      .gc-edit-block-label
        display: block
        padding: 40px 16px 10px
        font-size: 11px
        line-height: 1
        color: #bbb

      .item
        padding: 9px 16px

        #birthday-edit
          opacity: 0
          position: fixed

        .gender-input
          margin: 0 5px

        .gc-edit-item-label
          float: left
          line-height: 2.5

        .gc-height-divider
          float: right
          color: #469fda
          line-height: 2.8

        .gc-edit-item-value
          float: right
          color: #469fda
          width: 60%
          text-align: right
          border: 0
          line-height: 2.5

          &.gc-absent-value
            color: #bbb
            font-size: 12px

          &.gc-email-input
            width: 80%

          &.gc-value-feets
            width: 10%

          &.gc-value-inches
            width: 6%

  .gc-btn-bordered
    font-size: 11px
    line-height: 1
    padding-top: 12px
    margin: 40px 25%
    color: #ec4d1c
    width: 50%
    height: 35px
    border: 1px solid #ec4d1c
    border-radius: 18px

  .gc-cert-upload-button
    display: block
    width: 86%
    color: #459dd9
    background-color: #daebf7
    border-radius: 5px
    height: 55px
    margin-left: 7%
    margin-top: 30px
    font-size: 11px
    text-align: center
    line-height: 5

    input
      display: none