ion-view.gc-transparent-navbar.search-for-pro
  ion-nav-bar.gc-transparent-nav
    ion-nav-back-button
  ion-nav-title
    | Invite your Professional
  ion-content(scroll="false")
    .gc-page-content.gc-info-page
      img(src="img/icons/onboarding/pro-invitation-sent.png")
      span.gc-hint
        | Your Fitness Professional hasn't accepted your invitation to join GymCloud yet.
      button.gc-btn-bordered.gc-reminder-button(
        ng-click="sendReminder()"
      ) Send Reminder

    button.gc-btn-bordered.gc-select-button(
      ui-sref="signIn"
    ) Back to Login