ion-view.gc-transparent-navbar.search-for-pro
  ion-nav-bar.gc-transparent-nav
    ion-nav-back-button
  ion-nav-title
    | Find a Professional
  ion-content(scroll="false")
    .gc-page-content.gc-info-page
      img(src="img/icons/onboarding/invite-pro.png")
      span.gc-hint
        | You will be able to sign into your account when you are matched with a Professional. Your free trial begins after your account is activated.

    button.gc-btn-bordered.gc-select-button(
      ui-sref="signIn"
    ) Finish