ion-view.gc-transparent-navbar.search-for-pro
  ion-nav-bar.gc-transparent-nav
    ion-nav-back-button
  ion-nav-title
    | Invite your Professional
  ion-content(scroll="false")
    .gc-page-content.gc-info-page
      img(src="img/icons/onboarding/pro-invitation-sent.png")
      span.gc-hint
        | An invitation has been sent to your Fitness Professional.
      span.gc-hint
        | You will be able to log into your account when your Professional responds. Your free trial begins after your account is activated.

    button.gc-btn-bordered.gc-select-button(
      ui-sref="signIn"
    ) Finish