ion-view.gc-user-profile.bar-dark
  ion-nav-title
    | {{ user.user_profile.first_name }} {{ user.user_profile.last_name }}
  ion-content

    ion-refresher(
      pulling-text="Pull to refresh..."
      on-refresh="initialize()"
    )

    ng-include(
      src="'features/user/profile/partials/_user-profile.html'"
    )
