.gc-user-profile

  .gc-header
    padding-top: 15px
    background: #3a99d9

    &.gc-trainer-background
      background: #5a2c6c

    .row
      padding: 0

      .gc-title
        padding: 0

        .gc-title-avatar
          width: 122px
          height: 122px
          border-radius: 122px
          margin: 0 auto
          background-size: 70%

          img
            width: 122px
            height: 122px
            border-radius: 122px

        .gc-info
          height: 77px
          background: rgba(0, 0, 0, 0.16)
          margin-top: 15px
          color: #ffffff

          hr
            width: 90%
            margin: -2px 5% -2px 5%
            display: block
            height: 1px
            border: 0
            border-top: 1px solid rgba(255, 255, 255, 0.25)
            padding: 0

          .gc-info-titles span,
          .gc-info-content span
            text-transform: uppercase
            font-size: 10px

          .gc-info-titles
            padding-top: 10px

  .gc-list-wrapper

    .list
      padding: 0
      color: #5f5f5f

      .item

        .badge
          font-size: 11px
