.search-for-pro
  background: url('../img/welcome-bg.png') left top no-repeat
  background-size: cover

  .gc-page-content
    background: #fff
    width: 90%
    margin-left: 5%
    border-radius: 5px

    &.gc-info-page
      height: 45%
      margin-top: 30%
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center

      img
        width: 80px

        &.gc-waiting-gymcloud-pro-img
          width: 50px

      .gc-hint
        color: #5f5f5f
        width: 70%
        text-align: center
        margin: 20px 0 10px

  .gc-btn-bordered
    border-color: #459dd9
    border-radius: 19px
    height: 38px
    width: 50%
    text-transform: none
    font-size: 11px

    &.gc-select-button
      position: absolute
      bottom: 0
      left: 0
      margin: 0 0 20px 25%
      background: #459dd9

    &.gc-reminder-button
      color: #459dd9
      background: #fff
      margin-top: 20px