.dashboard-bottom.clearfix
  .left-side(
    ui-sref="app.workoutsThisWeek"
  )
    i.dashboard-icon.workouts-calendar
    span.dashboard-icon-label
      | Workouts this week
  .right-side(
    ui-sref="app.clientsPerfomance"
  )
    i.dashboard-icon.client-performance
    span.dashboard-icon-label
      | Client performance