.gc-cert
  background: url('../img/welcome-bg.png') left top no-repeat
  background-size: cover

  .gc-cert-container
    display: flex
    flex-direction: column
    justify-content: space-around
    margin: 20px
    height: 60%
    border-radius: 5px
    background-color: #fff

    .gc-cert-upload-img
      margin-left: 40%
      width: 20%

    .gc-cert-text
      width: 70%
      margin-left: 15%
      text-align: center

    .gc-cert-upload-button
      width: 90%
      color: #459dd9
      background-color: #daebf7
      border-radius: 5px
      height: 55px
      margin-left: 5%
      font-size: 11px
      text-align: center
      line-height: 5

      input
        display: none

  .gc-cert-uploaded-container
    height: 50%
    justify-content: center

    .gc-cert-upload-img
      margin-bottom: 40px

  .gc-btn-bordered

    &.gc-select-button
      position: absolute
      bottom: 40px
      left: 0
      border-color: #459dd9
      text-transform: none
      height: 38px
      border-radius: 19px
      width: 50%
      margin: 0 0 20px 25%
      font-size: 11px
      background: #459dd9