.get-pro
  
  .gc-page-content
    margin-top: 35%

    .item-radio:nth-child(1)
      border-top-left-radius: 5px
      border-top-right-radius: 5px
      
    .item-radio:nth-child(2)
      border-bottom-left-radius: 5px
      border-bottom-right-radius: 5px
    
    .item-content
      display: flex
      flex-direction: row
      align-items: center
      padding: 25px
      
      img
        width: 50px
        display: inline-block
        
      span
        font-size: 14px
        white-space: initial
        margin-left: 20px