.gc-nav-action-button
  line-height: 2.5
  color: #3f99d6
  margin-right: 5px

.gc-tutorials
  background: url('../img/welcome-bg.png') left top no-repeat
  background-size: cover

  .gc-tutorial-container
    height: 90%

    .gc-slide-content
      margin: 20px
      height: 90%
      border-radius: 5px
      background-color: #fff
      display: flex
      flex-direction: column
      justify-content: space-around
      align-items: center

      img
        width: 70%

      .gc-slide-text
        width: 90%
        display: flex
        flex-direction: column
        justify-content: space-around
        align-items: center

        .gc-title
          font-size: 17px
          margin-bottom: 30px
          font-weight: bold
          text-align: center

        .gc-text
          font-size: 13px
          margin-bottom: 20px
          text-align: center

    .swiper-pagination-bullet
      background: #979797

    .swiper-pagination-bullet-active
      background: #459dd9

  .gc-submit-btn
    margin-top: 0
