.gc-welcome
  background: url('../img/welcome-bg.png') left top no-repeat
  background-size: cover
  font-size: 15px

  .gc-welcome-content
    height: 80%

    .gc-welcome-logo
      height: 50%
      position: relative

      div
        height: 85px
        position: absolute
        bottom: 55px

        img
          width: 160px
          margin: 0 auto
          display: block

    .gc-welcome-text
      height: 50%
      color: #fdfdfd
      text-align: center
      line-height: 1.5
      position: relative

      div
        height: 60px
        position: absolute
        top: 25px

  .gc-welcome-buttons
    height: 20%
    width: 84%
    margin-left: 8%
    flex: inherit

    .gc-btn-bordered
      background: transparent
      border: 2px solid #459dd9
      color: #459dd9
      text-transform: none
      font-size: 15px
      height: 45px
      border-radius: 23px
      width: 100%

      // &.gc-sign-in-btn
      //   background: transparent
      //   float: left
      // &.gc-sign-up-btn
      //   background: #459dd9
      //   float: right
