.gc-client-group

  .gc-header
    padding: 15px 0
    background: #3a99d9

    .row
      padding: 0

      .gc-title
        padding: 0

        .gc-title-avatar
          width: 122px
          height: 122px
          border-radius: 122px
          margin: 0 auto
          background-size: 70%

          img
            width: 122px
            height: 122px
            border-radius: 122px

  .gc-list-wrapper

    .list
      padding: 0
      color: #5f5f5f

      .item

        .badge
          font-size: 11px
