doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
    meta(name="apple-mobile-web-app-title", content="Title")
    link(rel="stylesheet", href="css/app.css")
    link(rel="shortcut icon", type="image/png", href="img/favicon.png")
    // cordova script (this will be a 404 during development)
    script.
      function handleOpenURL(url) {
        var event = new CustomEvent('urlInterception', {detail: {'url': url}});
        setTimeout( function() {
            window.dispatchEvent(event);
          },
          0
        );
      }
    script(src="cordova.js")
    // your app's js
    script(src="js/vendor.js")
    script(src="js/app.js")
  body(ng-app="gymcloud")
    ion-nav-view
