.gc-icon
  position: absolute
  background-size: cover !important

.gc-notification-bell
  background: url('../img/icons/notification-bell.png') no-repeat
  width: 25px
  height: 25px
  right: 4px
  top: 5px

.gc-hamburger
  background: url('../img/icons/hamburger.png') center center no-repeat
  background-size: 50% !important
  width: 31px
  height: 32px
  left: 10px
  top: 10px
  border: none
  padding: 0
  margin: -8px -5px

.gc-icon.gc-hamburger
  background-size: 75% !important

.gc-icon-assign
  background: url('../img/icons/assign.png') no-repeat
  width: 25px
  height: 25px
  right: 10px
  top: 4px
.gc-icon-profile-edit
  background: url('../img/icons/profile-edit.png') no-repeat
  width: 12px
  height: 16px
  left: 10px
  top: 9px

.gc-icon-right-arrow
  background: url('../img/icons/right-arrow.png') no-repeat
  width: 8px
  height: 14px
  right: 12px
  top: 20px

.gc-icon-results-arrow
  background: url('../img/icons/results-arrow.png') no-repeat
  background-size: cover
  width: 11px
  height: 20px
  right: 15px
  top: 20px

.gc-icon-exercises
  background: url('../img/icons/exercises.png') no-repeat
  width: 19px
  height: 10px
  left: 11px
  top: 21px

.gc-icon-warmups
  background: url('../img/icons/warmups.png') no-repeat
  width: 18px
  height: 16px
  left: 12px
  top: 15px

.gc-icon-workouts
  background: url('../img/icons/workouts.png') no-repeat
  width: 17px
  height: 21px
  left: 12px
  top: 15px

.gc-icon-programs
  background: url('../img/icons/programs.png') no-repeat
  width: 16px
  height: 22px
  left: 13px
  top: 14px

.gc-icon-videos
  background: url('../img/icons/video-library.png') no-repeat
  width: 19px
  height: 19px
  left: 11px
  top: 17px

.gc-icon-calendar
  background: url('../img/icons/calendar.png') no-repeat
  width: 18px
  height: 20px
  left: 12px
  top: 14px

.gc-icon-clients
  background: url('../img/icons/clients.png') no-repeat
  width: 25px
  height: 25px
  left: 10px
  top: 12px

.gc-icon-folder
  background: url('../img/icons/folder.png') no-repeat
  width: 19px
  height: 17px
  left: 12px
  top: 16px

.gc-icon-add
  background: url('../img/icons/add.png') no-repeat
  width: 19px
  height: 19px

.gc-icon-schedule
  background: url('../img/icons/schedule.png') no-repeat
  width: 12px
  height: 12px
  top: 20px

.gc-icon-expand-arrow
  background: url('../img/icons/expand-arrow.png') no-repeat
  width: 8px
  height: 5px
  top: 8px
  right: 0

.gc-icon-expanded-arrow
  background: url('../img/icons/expanded-arrow.png') no-repeat
  width: 8px
  height: 5px
  top: 8px
  right: 0

.gc-icon-comments
  background: url('../img/icons/comments.png') no-repeat
  width: 10px
  height: 11px

.gc-icon-personal-best
  background: url('../img/icons/personal-best.png') no-repeat
  width: 8px
  height: 10px

.gc-icon-personal-best-active
  background: url('../img/icons/personal-best-active.png') no-repeat
  width: 8px
  height: 10px

.gc-results-cross-btn
  background: url('../img/icons/results-cross-btn.png') no-repeat
  width: 23px
  height: 23px
  background-size: cover

.gc-overview
  background: url('../img/icons/overview.png') no-repeat
  width: 33px
  height: 33px
  right: 0px
  top: 1px

.gc-search
  background: url('../img/icons/search.png') no-repeat
  width: 14px
  height: 14px
  left: 7px
  top: 20px

.gc-cross
  background: url('../img/icons/cross.png') no-repeat
  width: 33px
  height: 33px

.gc-results-comments
  width: 18px
  height: 22px
  background: url('../img/icons/results-comments.png') no-repeat
  background-size: cover

.gc-results-video-upload
  width: 18px
  height: 20px
  background: url('../img/icons/results-video-upload.png') no-repeat
  background-size: cover

.gc-results-timer
  width: 12px
  height: 12px
  background: url('../img/icons/results-timer.png') no-repeat
  background-size: cover

.gc-workout-status-icon
    width 24px
    height 24px
    right: 16px
    background-size: contain
    background-repeat: no-repeat

    &.complete
      background-image: url('../img/workout-complete.svg')

    &.incomplete
      background-image: url('../img/workout-incomplete.svg')

// Onboarding

.gc-acc
  width: 36px
  height: 33px
  top: 10px
  left: 15px
  z-index: 3

.gc-acc-personal-trainer
  background: url('../img/icons/onboarding/personal-trainer.png') no-repeat

.gc-acc-str-conditioning
  background: url('../img/icons/onboarding/strength-conditioning.png') no-repeat

.gc-acc-athletic-trainer
  background: url('../img/icons/onboarding/athletic-trainer.png') no-repeat

.gc-acc-physical-therapist
  background: url('../img/icons/onboarding/physical-therapy.png') no-repeat

// SIDEBAR

.side-menu-icon-help
  background: url('../img/icons/nav_menu/help.png') left center no-repeat
  background-size: contain
  opacity: 0.7
  width: 30px
  margin: 5px 3px 0

.side-menu-icon-dashboard
  background: url('../img/icons/nav_menu/dashboard.png') left center no-repeat
  background-size: contain
  opacity: 0.7
  width: 14px

.side-menu-icon-exercise,
.side-menu-icon-exercises,
.side-menu-icon-ExerciseItem
  background: url('../img/icons/nav_menu/exercises.png') left center no-repeat
  background-size: contain
  opacity: 0.7
  width: 18px

.side-menu-icon-warmup,
.side-menu-icon-WarmupItem
  background: url('../img/icons/nav_menu/warmups.png') left center no-repeat
  background-size: contain
  opacity: 0.7
  width: 18px

.side-menu-icon-workout,
.side-menu-icon-WorkoutItem
  background: url('../img/icons/nav_menu/workouts.png') center center no-repeat
  background-size: contain
  opacity: 0.7
  width: 19px

.side-menu-icon-program,
.side-menu-icon-ProgramItem
  background: url('../img/icons/nav_menu/programs.png') center center no-repeat
  background-size: contain
  opacity: 0.7
  width: 16px

.side-menu-icon-calendar
  background: url('../img/icons/nav_menu/calendar.png') center center no-repeat
  background-size: contain
  opacity: 0.7
  width: 15px

.side-menu-icon-video-library
  background: url('../img/icons/nav_menu/video-library.png') center center no-repeat
  background-size: contain
  opacity: 0.7
  width: 16px

.side-menu-icon-clients
  background: url('../img/icons/nav_menu/clients.png') center center no-repeat
  background-size: contain
  opacity: 0.7
  width: 16px

.side-menu-icon-my-training
  background: url('../img/icons/nav_menu/my-training.png') center center no-repeat
  background-size: contain
  opacity: 0.7
  width: 16px

.side-menu-icon-folder
  background: url('../img/icons/nav_menu/folder.png') center center no-repeat
  background-size: contain
  opacity: 0.7
  width: 17px

.side-menu-icon-messages
  background: url('../img/icons/nav_menu/messages.png') center center no-repeat
  background-size: contain
  opacity: 0.7
  width: 18px

// NOTIFICATIONS

.gc-notification-icon
  width: 18px
  height: 18px
  left: 0px
  top: 18px

.event-comment-create
  background: url('../img/icons/dashboard/new_comment_on_result.png') no-repeat

.event-workout-event-create
  background: url('../img/icons/dashboard/new_event_scheduled.png') no-repeat

.event-exercise-result-create
  background: url('../img/icons/dashboard/new_result_entered.png') no-repeat

.event-user-update
  background: url('../img/icons/dashboard/invitation_accepted.png') no-repeat

.event-personal-item-create
  background: url('../img/icons/dashboard/new_item_assigned.png') no-repeat

.ion-ios-arrow-back:before
    content: "\f150"
