.gc-transparent-navbar

  .bar-header
    border: 0px !important
    border-bottom-color: transparent !important
    background-image: none
    border-bottom: none

  .nav-bar-title
    color: white
    text-transform: uppercase

  .gc-transparent-nav
    background-color: transparent !important
    border-bottom: none !important