.gc-forgot-password
  background: url('../img/welcome-bg.png') left top no-repeat
  background-size: cover

  .bar-header
    border: 0px !important
    border-bottom-color: transparent !important
    background-image: none
    border-bottom: none

  .nav-bar-title
    color: #fff
    text-transform: uppercase

  .gc-transparent-nav
    background-color: transparent !important
    border-bottom: none !important

  .gc-forgot-password-form
    width: 86%
    margin: 15% 0 0 7%

  .gc-instructions
    color: #fff
    font-size: 13px
    padding: 20px 0
    margin: -1px
    text-align: center

  input[type=email]
    border-radius: 3px
    height: 40px
    padding: 10px
    font-size: 13px
    width: 100%