ion-view.gc-transparent-navbar.search-for-pro
  ion-nav-bar.gc-transparent-nav
    ion-nav-back-button
  ion-nav-title
    | Invite your Professional
  ion-content(scroll="false")
    .gc-page-content.gc-info-page
      img.gc-waiting-gymcloud-pro-img(src="img/icons/onboarding/pro-request-sent.png")
      span.gc-hint
        | We're in the process of matching you with a Fitness Professional.
      span.gc-hint
        | We'll send you an email notification. Thanks for your patience.

    button.gc-btn-bordered.gc-select-button(
      ui-sref="signIn"
    ) Back to Login