.gc-notifications-list

  .list

    .item
      padding: 15px 0 15px 37px

      .gc-notification-title
        padding: 0
        line-height: 1

      .gc-notification-content
        font-size: 10px
        padding: 5px 0 0 0
        line-height: 1
        color: #bebebe

      .gc-icon-schedule
        right: 117px
        top: 17px

      .gc-schedule-time,
      .gc-schedule-date
        position: absolute
        font-size: 10px

      .gc-schedule-time
        top: 17px
        right: 0px

      .gc-schedule-date
        top: 28px
        right: 0px
        color: #bbbbbb
