.gc-event-completed
  color: #fff
  position: relative
  height: 100%
  background: center 15% no-repeat
  background-color: #459dd9
  background-image: url('../img/results-completed.png')
  background-size: 90px

  .congratulatory-text
    width: 50%
    margin: 0 auto
    text-align: center
    position: relative
    top: 35%

    .text-title
      font-size: 16px

    .text-content
      font-size: 14px
      margin-top: 10px

  .buttons-block
    font-size: 11px
    text-align: center
    position: relative
    top: 50%
    width: 60%
    margin: 0 auto

    .gc-btn-bordered
      width: 100%
      padding: 11px
      height: 35px
      text-transform: none
      font-size: 11px
      border-radius: 17px
      margin: 20px 0